<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
  <%= devise_error_messages %>  
  <h2 class="my-3 font-weight-normal">アカウント<br>確認メール再送</h2>

  <div class="field mb-3">
    <%= f.label :email, class: "sr-only" %><br />
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント確認メール再送", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
