<% if users %>
<div class="users">
  <h2 class="my-3 font-weight-normal text-center">ユーザー一覧</h2>
  <div class="row">
    <% users.each do |user| %>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-avatar-img card-img-top", src="<%= user.avatar %>">
        <div class="card-body">
          <div class="card-text">
            <p><%= user.name %></p>
            <p><%= render 'relationships/follow_button', user: user %></p>
            <%= link_to 'View profile', user_path(user) %>
          </div>
        </div>  
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate users %>
</div>
<% end %>