<div class="center jumbotron">
  <div class="text-center">
    <h1>
      <% if user_signed_in? %>
      <%= current_user.name %>さん
      <br>
      <% end %>
      KOMATAへようこそ!
    </h1>
    <p><%= link_to 'KOMATAとは？', explanations_path %></p>
    <% if user_signed_in? %>
      <p><%= link_to 'KOMATA投稿', new_komata_message_path, class: "btn btn-lg btn-secondary" %></p>
      <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
<% unless @otasuke_message_ranking_users.nil? %>
<div class="user-ranks text-center">
  <h2 class="my-3 font-weight-normal">ランキング</h2>
  <p>(OTASUKEメッセージの投稿数で集計しています。)</p>
  <div class="table-responsive">
    <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">順位</th>
        <th scope="col">名前</th>
        <th scope="col">KOMATA投稿数</th>
        <th scope="col">OTASUKE投稿数</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @otasuke_message_ranking_users.each_with_index do |user,index| %>
      <tbody>
        <tr>
          <td><%= index+1 %>位</td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= user.komata_messages.count %></td>
          <td><%= user.otasuke_messages.count %></td>
          <td><%= render 'relationships/follow_button', user: user %></td>
        </tr>
      </tbody>  
    <% end %>
    </table>
  </div>
</div>
<% end %>
<% end %>
